<div class="row container">
    <div ng-repeat="post in posts" class="col-sm-12" style="border: 1px solid grey; min-height:150px;  padding:20px; margin:10px;">
        <div class="col-sm-4" style="padding-top:20px;">
            <div class="col-sm-12" style="text-align: center;">
                <img ng-src="{{post.imageUri}}" style="width: 50px; height: 50px; border-radius: 50%; text-align: center;" />
            </div>
            <div class="col-sm-12" style="text-align: center;">
                {{post.author}}
            </div>
        </div>
        <div class="col-sm-8"  style="padding-top:35px;">
            {{post.body}}
        </div>
    </div>
</div>