<div class="row">
    <div class="col-sm-3 col-xs-12 side-bar panel panel-primary">
        <div class="panel-heading" style="text-align: center; font-weight: bold;">
            <a href="https://github.com/Splitix/hammer">Project Hammer Github</a>
        </div>
        <div class="panel-body">
            <span ng-if="IsUserSignedIn" style="font-weight: bold; text-align: center;">
                <div class="col-sm-12">
                    <img class="img-md" ng-src="{{ placeholderImage2 }}" />
                </div>       
                <span class="col-sm-12">Username: {{ UserInfo.username }}</span>            
                <span class="col-sm-12">Name: {{ UserInfo.name }}</span>
            </span>
        </div>            
    </div>
    
    <div class="col-sm-8 col-xs-12 panel-group">
        <h2 ng-show="loading" class="col-sm-9 loading">
            <img src="img/loading.gif" alt="LOADING..." />
            LOADING...
        </h2>
        <div ng-repeat="user in allUsers" class="col-sm-3 col-xs-12 panel panel-default" style="padding: 5px; margin: 5px; text-align: center;">
            <div class="col-sm-12">
                <img class="img-sm" ng-src="{{ placeholderImage }}" />
            </div>
            <div class="col-sm-12">
                {{ user.username }}
            </div>
        </div>
    </div>
</div>