<div class="row container">
    <div class="col-sm-12">
        <div class="col-sm-4">
           <!-- Profile picture -->
           <img ng-src="{{ImageUri}}" style="width: 200px; height: 200px;" />
           <br /> <!-- Break line -->
           <span style="font-weight: bold;">Name: </span>
           <!-- Variable to be replaced by the controller -->
           <span>{{FirstName}} {{LastName}}</span>
        </div>
        
        <div class="col-sm-8">
            <!-- My Posts? -->
        </div>
    </div>
</div>