<div class="row">
    <div class="col-sm-3 col-xs-12 side-bar panel panel-primary">
        <div class="panel-heading" style="text-align: center; font-weight: bold;">
            {{ UserInfo.name }}
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <img class="img-md" ng-src="{{ placeholderImage }}" />
            </div>       
            <span class="col-sm-12">Username: {{ UserInfo.username }}</span>
            <!-- <input type="file" ng-click="previewFile()" /> -->
        </div>
    </div>
    <div class="col-sm-8">
        <h2 ng-show="loading" class="col-sm-9 loading">
            <img src="img/loading.gif" alt="LOADING..." />
            LOADING...
        </h2>
        <div ng-if="posts.length == 0 && !loading">
            <div class="col-sm-12 panel panel-default">
                <div class="col-sm-12" style="padding: 35px; text-align: center;">
                    You have no posts.
                </div>  
            </div>
        </div>
        <div ng-if="posts.length != 0">
            <div ng-repeat="post in posts | orderBy:'createdOn':true" class="col-sm-12 panel panel-default">
                <div class="col-sm-3" style="padding: 5px; text-align: center;">
                    <div class="col-sm-12">
                        <img class="img-sm" ng-src="{{ placeholderImage }}" />
                    </div>
                    <div class="col-sm-12">
                        {{ post.username }}
                    </div>
                </div>
                <div class="col-sm-9" style="padding: 15px;">
                    {{ post.body }}
                </div>
                <div style="padding-bottom: 5px; float: right;">
                    {{ formatDate(post.createdOn) }}
                </div>
            </div>
        </div>
    </div>
</div>